* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: beige;
    font-family: Roboto, sans-serif;
}

h1, h2 {
    text-align: center;
}

button {
    width: 15vw;
    height: 5vh;
    font-size: 20px;
    background-color: white;
    color: black;
    border-radius: 8px;
}

.title {
    margin-top: 36px;
}

.buttons-header {
    margin-top: 15vh;
}

.round-box, .results-box {
    border: 3px black solid;
    border-radius: 6px;
    margin: 32px 200px;
    padding: 16px;
    background-color: white;
}

.container-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    gap: 16px;
}

.container-results, .container-round {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-results p, .container-round p {
    font-size: 20px;
}

.new-game {
    margin-top: 5px;
    background-color: beige;
}